.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.header-section {
    justify-content: space-between;
    display: flex;
    margin: 10px 300px;
}

.asad {
    font-weight: bolder;
    font-size: 30px;
}

.Download {
    background-color: white;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    border-radius: 10px;
    width: 228px;
    height: 58px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    /* padding: 10px; */

}

.hero-section {
    background-image: url("B10A1-Challenge-Begins/assets/Hero-bg.png");
    height: 652px;
    align-items: center;
    margin-bottom: 74px;
}

.hero-content {
    width: 998px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.heading {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

.heading-des {
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
}

.btn {
    background: rgb(13, 19, 33);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    padding: 21px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

/* main */
/* why section */
.why-main {
    margin: 0 auto;
    width: 1000px;
    height: 1100px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin-bottom: 74px;
    text-align: center;
    border-radius: 20px;
}

.why-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.why-des {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.learn-more {
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.288);
}

.why-content {
    width: 946px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    /* padding: 20px; */
    margin-bottom: 30px;
    padding: 20px;
}

/* .why{
    margin: 10px; 
} */
.why-written {
    width: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
}

.why-web {
    font-size: 50px;
}

.heading-des {
    font-size: 20px;
}

/* .why-one,.why-two,.why-three{
    background-color: white;
} */
.why {
    /* row-gap: 20px; */
    /* gap: 200px; */
    /* background-color: white; */
    margin: 0 auto;
}
/* Inspiration section */
.inspiration{
    /* margin: 0 auto; */
    text-align: center;
    margin-bottom: 149px;
}
.jhankar-video{
    border: 30px solid rgba(0, 0, 0, 0.082);
    border-radius: 20px;
}
/* Current Target section */
.card-container {
    display: flex;
}

.current-target {
    /* margin: 0 auto; */
    /* text-align: center; */
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    margin-bottom: 111px;
}

.card-container {
    /* justify-content: space-around; */
    gap: 15px;
}

.card {
    text-align: left;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(235, 235, 221, 0.76);
    width: 50%;
}

.context {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    /* text-align: left; */
    opacity: 0.7;
}

.current-target .card-container .card h3 {
    font-size: 30px;
}

.current-target .card-container .card p {
    font-size: 20px;
}

/* next target section */
.next-target {
    margin: 0 auto;
    width: 1140px;
    text-align: center;
}

.next-content {
    /* display: flex;
    flex-direction: column; */
    text-align: left;
}

.next-card {
    display: flex;
    gap: 25px;
    border: 1px solid rgba(22, 18, 18, 0.363);
    /* justify-content: space-between; */
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 50px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.06);
    /* align-items: start; */


}

.card-title {
    font-size: 30px;
    font-weight: bold;
}

.card-des {}

.next-card .img {
    margin-top: 20px;
}



/* support */

.support {
    margin: 0 auto;
    background-image: url(B10A1-Challenge-Begins/assets/handshake.jpg);
    /* height: 400px; */
    align-items: center;
    width: 1040px;
    height: 314px;
    background-size: cover;
    background-position: center;
    /* justify-content: center; */
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    padding: 48px 64px 48px 64px;
}

.need-support {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.support-des {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    /* rgb(255, 255, 255) */
}

.support-box {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    position: static;
    width: 548px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px 20px 19px 20px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.support-things {
    display: flex;
    gap: 20px;
}

.support-button {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    /* gap: 10px; */
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 20px 17px 20px;
}